body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  background-color: #DFF6FF;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.title {
  margin-top: 0;
  color: #06283D;
  font-size: 2rem;
}

.message {
  margin-bottom: 0;
}

.subheading{
  margin: 2rem 0 .5rem;
}

.time {
  font-size: 6rem;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.button {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 800;
  background-color: #47B5FF;
  color: #06283D;
  padding: .5em 2em;
  text-decoration: none;
  border-radius: 5px;
  letter-spacing: 2px;
  margin: 5px 10px;
}

.button:hover {
  background-color: #1363DF;
  cursor: pointer;
  color: black;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
}

input {
  font-size: inherit;
  background-color: inherit;
  border: 1px solid black;
  width: 50px;
  text-align: center;
  margin-left: 5px;
}

@media screen and (min-width: 500px) {
  body {
    font-size: 1.4rem;
  }

  .input-box {
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
  }

  .time {
    font-size: 7rem;
    margin: 0 0;
  }

  .title {
    font-size: 3rem;
  }
}
